<div class="container-fluid">

  <div class="row">

  <div class="col-lg-4 ">
    <h1 class="my-5 display-4 text-center  border-bottom p-2">Dati Cliente </h1>
    <p class="text-danger">Prima di aggiungere cliente controlla i dati!</p>
    <ul class="list-group">
      <li class="list-group-item text-center bg-dark text-white"><span class="font-weight-bold ">*Informazioni Principali*</span></li>
      <li class="list-group-item">Nome: <span class="font-weight-bold">{{newClient.nomeContatto}}</span></li>
      <li class="list-group-item">Cognome: <span class="font-weight-bold">{{newClient.cognomeContatto}}</span></li>
      <li class="list-group-item">PEC: <span class="font-weight-bold">{{newClient.email}}</span></li>
      <li class="list-group-item">Raggione Sociale: <span class="font-weight-bold">{{newClient.ragioneSociale}}</span></li>
      <li class="list-group-item">Fatturato annuale: <span class="font-weight-bold">{{newClient.fatturatoAnnuale}} €</span></li>
      <li class="list-group-item">Partita IVA: <span class="font-weight-bold">{{newClient.partitaIva}}</span></li>
      <li class="list-group-item">Tipo Cliente: <span class="font-weight-bold">{{newClient.tipoCliente}}</span></li>
      <li class="list-group-item">Email Contatto: <span class="font-weight-bold">{{newClient.emailContatto}}</span></li>
      <li class="list-group-item text-center bg-dark text-white"><span class="font-weight-bold ">*Indirizzo Sede Operativa*</span></li>
      <li class="list-group-item">Provincia: <span class="font-weight-bold">{{newClient.indirizzoSedeOperativa.comune.provincia.nome}}</span></li>
      <li class="list-group-item">Sigla: <span class="font-weight-bold">{{newClient.indirizzoSedeOperativa.comune.provincia.sigla}}</span></li>
      <li class="list-group-item">Comune: <span class="font-weight-bold">{{newClient.indirizzoSedeOperativa.comune.nome}}</span></li>
      <li class="list-group-item">Via: <span class="font-weight-bold">{{newClient.indirizzoSedeOperativa.via}}</span></li>
      <li class="list-group-item text-center bg-dark text-white"><span class="font-weight-bold ">*Indirizzo Sede Legale*</span></li>
      <li class="list-group-item">Provincia: <span class="font-weight-bold">{{newClient.indirizzoSedeLegale.comune.provincia.nome}}</span></li>
      <li class="list-group-item">Sigla: <span class="font-weight-bold">{{newClient.indirizzoSedeLegale.comune.provincia.sigla}}</span></li>
      <li class="list-group-item">Comune: <span class="font-weight-bold">{{newClient.indirizzoSedeLegale.comune.nome}}</span></li>
      <li class="list-group-item">Via: <span class="font-weight-bold">{{newClient.indirizzoSedeLegale.via}}</span></li>
      <li class="list-group-item text-center bg-dark text-white"><span class="font-weight-bold ">*Data Inserimento*</span></li>
      <li class="list-group-item">Data: <span class="font-weight-bold">{{newClient.dataInserimento}}</span></li>
      <li class="list-group-item text-center bg-dark text-white"><span class="font-weight-bold ">*Data Ultimo Contatto*</span></li>
      <li class="list-group-item">Data: <span class="font-weight-bold">{{newClient.dataUltimoContatto}}</span></li>
      <li class="list-group-item">Faturatto annuale:</li>

    </ul>
  </div>


  <div class="col-lg-8 mb-5">

  <h1 class="display-4 text-center my-5 border-bottom p-2">Aggiungi cliente</h1>


    <p><span class="text-danger m-0">* </span>- Campi obligatori</p>

      <div class="d-flex justify-content-center">

        <!-- PARTE DA QUI -->

        <form class="w-100 border p-5  bg-dark">
          <div class="form-group ">
            <label class="text-white" for="exampleInputText">Nome <span class="text-danger m-0"> *</span></label>

            <input [(ngModel)] = "newClient.nomeContatto" name = "nomeContatto" type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="Nome..." >

          </div>
          <div class="form-group">
            <label class="text-white" for="exampleInputText2">Cognome <span class="text-danger m-0"> *</span></label>
            <input [(ngModel)] = "newClient.cognomeContatto" name = "cognomeContatto" type="text" class="form-control" id="exampleInputText2" placeholder="Cognome...">
          </div>

          <div class="form-group">
            <label class="text-white" for="exampleInputEmail1">Email<span class="text-danger m-0"> *</span></label>
            <input [(ngModel)] = "newClient.email" name = "email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email...">
          </div>

          <div class="form-group">
            <label class="text-white" for="exampleInputText3">Telefono<span class="text-danger m-0"> *</span></label>
            <input [(ngModel)] = "newClient.telefono" name = "telefono" type="text" class="form-control" id="exampleInputText3" placeholder="Telefono...">
          </div>

          <div class="form-group">
            <label class="text-white" for="exampleInputText4">Raggione Sociale<span class="text-danger m-0"> *</span></label>
            <input [(ngModel)] = "newClient.ragioneSociale" name = "ragioneSociale" type="text" class="form-control" id="exampleInputText4" placeholder="Raggione Sociale...">
          </div>







          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText5">PEC<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.pec" name = "pec" type="text" class="form-control" id="exampleInputText5" placeholder="PEC...">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText5">Partita IVA<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.partitaIva" name = "partitaIva" type="text" class="form-control" id="exampleInputText5" placeholder="Partita IVA...">
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="text-white" for="exampleInputText6">Tipo Cliente</label>
            <input [(ngModel)] ="newClient.tipoCliente" name = "tipoCliente" type="text" class="form-control" id="exampleInputText6" placeholder=" Tipo Cliente...">
          </div> -->
          <div class="form-group">
            <label class="text-white" for="">Tipo Cliente<span class="text-danger m-0"> *</span></label>
            <select class="form-control" [(ngModel)] = "newClient.tipoCliente" id="exampleInputText7" name="tipoCliente" >
              <option >Tipo Cliente</option>
              <option [ngValue] = "item" *ngFor = "let item of tipoClient">{{item}}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText7">Telefono Contatto<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.telefonoContatto" name = "telefonoContatto" type="text" class="form-control" id="exampleInputText7" placeholder="Telefono Contatto...">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText8">Email Contatto<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.emailContatto" name = "emailContatto" type="text" class="form-control" id="exampleInputText8" placeholder="Email Contatto...">
              </div>
            </div>
          </div>

          <h3 class="text-white text-center my-3">Indirizzo Sede Operativa</h3>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText9">Via<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeOperativa.via" name = "via" type="text" class="form-control" id="exampleInputText9" placeholder="Via...">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText9">Civico<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeOperativa.civico" name = "civico" type="text" class="form-control" id="exampleInputText9" placeholder="Civico">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText10">CAP<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeOperativa.cap" name = "cap" type="text" class="form-control" id="exampleInputText10" placeholder="CAP">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText11">Localita<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeOperativa.localita" name = "localita" type="text" class="form-control" id="exampleInputText11" placeholder="Localita">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <!-- <div class="form-group">
                <label class="text-white" for="exampleInputText12">Comune</label>
                <input [(ngModel)] ="newClient.indirizzoSedeOperativa.comune.nome" name = "nome" type="text" class="form-control" id="exampleInputText12">
              </div> -->
              <div class="form-group">
                <label class="text-white" for="">Comune<span class="text-danger m-0"> *</span></label>
                <select class="form-control" [(ngModel)] = "newClient.indirizzoSedeOperativa.comune" name="indirizioOperativoComune">
                  <option active>Scegli comune</option>
                  <option [ngValue] = "item" *ngFor = "let item of comune">{{item.nome}}</option>
                </select>
              </div>

            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="text-white" for="exampleInputText27">Sigla<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] = "newClient.indirizzoSedeOperativa.comune.provincia.sigla" name = "sigla3" type="text" class="form-control" id="exampleInputText27">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="text-white" for="exampleInputText13">Provincia<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeOperativa.comune.provincia.nome" name = "prov3" type="text" class="form-control" id="exampleInputText13">
              </div>
              <!-- <div class="form-group">
                <label class="text-white" for="">Province</label>
                <select class="form-control" [(ngModel)] = "newClient.indirizzoSedeOperativa.comune.provincia" name="indirizioOperativoProvince">
                  <option selected>Scegli comune</option>
                  <option [ngValue] = "item" *ngFor = "let item of province">{{item.nome}}</option>
                </select>
              </div> -->
            </div>
          </div>

          <h3 class="text-white text-center my-3">Indirizzo Sede Legale</h3>


          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText14">Via<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeLegale.via" name = "viaLegale" type="text" class="form-control" id="exampleInputText14" placeholder="Via">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText15">Civico<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeLegale.civico" name = "civico" type="text" class="form-control" id="exampleInputText15" placeholder="Civico">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText16">CAP<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeLegale.cap" name = "cap" type="text" class="form-control" id="exampleInputText16" placeholder="CAP">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText17">Localita<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeLegale.localita" name = "localita" type="text" class="form-control" id="exampleInputText17" placeholder="Localita">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <!-- <div class="form-group">
                <label class="text-white" for="exampleInputText18">Comune</label>
                <input [(ngModel)] ="newClient.indirizzoSedeLegale.comune.nome" name = "nome" type="text" class="form-control" id="exampleInputText18">
              </div> -->
              <div class="form-group">
                <label class="text-white" for="">Comune<span class="text-danger m-0"> *</span></label>
                <select class="form-control" [(ngModel)] = "newClient.indirizzoSedeLegale.comune" name="indirizioLegaleComune">
                  <option active>Scegli comune</option>
                  <option [ngValue] = "item" *ngFor = "let item of comune">{{item.nome}}</option>
                </select>
              </div>

            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="text-white" for="exampleInputText29">Sigla<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] = "newClient.indirizzoSedeLegale.comune.provincia.sigla" name = "sigla4" type="text" class="form-control" id="exampleInputText29">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="text-white" for="exampleInputText19">Provincia<span class="text-danger m-0"> *</span></label>
                <input [(ngModel)] ="newClient.indirizzoSedeLegale.comune.provincia.nome" name = "prov4" type="text" class="form-control" id="exampleInputText19">
              </div>
              <!-- <div class="form-group">
                <label class="text-white" for="">Province</label>
                <select class="form-control" [(ngModel)] = "newClient.indirizzoSedeLegale.comune" name="indirizioLegaleProvince">
                  <option active>Scegli Provincia</option>
                  <option [ngValue] = "item" *ngFor = "let item of province">{{item.nome}}</option>
                </select>
              </div> -->
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText120">Data Inserimento</label>
                <input [(ngModel)] = "newClient.dataInserimento" name = "nomeComune" type="text" class="form-control" id="exampleInputText20">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="text-white" for="exampleInputText21">Data Ultimo Contatto</label>
                <input [(ngModel)] = "newClient.dataUltimoContatto" name = "nomeProvincia" type="text" class="form-control" id="exampleInputText21">
              </div>
            </div>
          </div> -->

          <button type="button" class="btn btn-info" (click) = "create()">Aggiungi</button>
        </form>
      </div>

          <!-- PROVA COPIA DELL FORM INFOOOOOO!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    </div>
  </div>


      </div>


